<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <bean name="propertiesFile" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>file:/etc/stocks-server/stocks.properties</value>
            </list>
        </property>
    </bean>

    <bean name="config" class="de.njsm.stocks.sentry.db.Config">
        <constructor-arg index="0" ref="propertiesFile"/>
    </bean>

    <bean name="dbAddress" factory-bean="config" factory-method="getDbAddress"/>

    <bean name="dbPort" factory-bean="config" factory-method="getDbPort"/>

    <bean name="dbName" factory-bean="config" factory-method="getDbName"/>

    <bean name="dbUser" factory-bean="config" factory-method="getDbUsername"/>

    <bean name="dbPassword" factory-bean="config" factory-method="getDbPassword"/>

    <bean name="ticketValidity" factory-bean="config" factory-method="getDbValidity"/>

    <bean name="dbUrl" class="java.lang.String" factory-method="format">
        <constructor-arg index="0" value="jdbc:mariadb://%s:%s/%s?useLegacyDatetimeCode=false&amp;serverTimezone=+00:00"/>
        <constructor-arg index="1" type="java.lang.Object[]">
            <util:list>
                <ref bean="dbAddress"/>
                <ref bean="dbPort"/>
                <ref bean="dbName"/>
            </util:list>
        </constructor-arg>
    </bean>

    <bean name="dbHandler" class="de.njsm.stocks.sentry.db.DatabaseHandler">
        <constructor-arg index="0" ref="dbUrl"/>
        <constructor-arg index="1" ref="dbUser"/>
        <constructor-arg index="2" ref="dbPassword"/>
        <constructor-arg index="3" ref="ticketValidity"/>
    </bean>

    <bean name="deviceEndPoint" class="de.njsm.stocks.sentry.endpoints.UserGenerator">
        <constructor-arg index="0" ref="dbHandler"/>
    </bean>

</beans>