*~
.directory
*.swp

# java build dirs
lib
target

# IntelliJ files
.idea
*.iml

# Latex files
*.aux
*.toc
*.log
*.synctex.gz
*.png

# test files
server/src/test/system/resources
client/src/test/system/resources
tmp
