*~
.directory
*.swp

# java build dirs
lib
target
build

# Archlinux packaging
pkg
*.pkg.tar.xz
*.pkg.tar.zst

# IntelliJ files
.idea
*.iml

# Latex files
*.aux
*.toc
*.log
*.synctex.gz
*.png
*.dvi
*.ps

# test files
client/src/test/system/resources
server-test/keystore_test

# Ansible
*.retry
cache

server-test/bin/dump-prod.sh
