*~
.directory
*.swp

# java build dirs
lib
target
build
.gradle
local.properties
.kotlin

# Archlinux packaging
pkg
*.pkg.tar.xz
*.pkg.tar.zst

# IntelliJ files
.idea
*.iml

# Docu files
*.aux
*.toc
*.log
*.synctex.gz
*.png
*.dvi
*.ps
*.svg

# test files
client/src/test/system/resources
server-test/keystore*

# Ansible
*.retry
cache

# Local files
.envrc
