INSERT INTO User (name) VALUES ('{{ stocks_first_user }}');
INSERT INTO User_device (name, belongs_to) VALUES ('{{ stocks_first_device }}', LAST_INSERT_ID());
INSERT INTO Ticket (ticket, belongs_device) VALUES ('0000', LAST_INSERT_ID()) 
