## {{ ansible_managed }}

de.njsm.stocks.internal.db.databaseAddress={{ mysql_server_host }}
de.njsm.stocks.internal.db.databasePort={{ mysql_server_port }}
de.njsm.stocks.internal.db.databaseName={{ mysql_stocks_database }}
de.njsm.stocks.internal.db.databaseUsername={{ mysql_stocks_username }}
de.njsm.stocks.internal.db.databasePassword={{ mysql_stocks_password }}

de.njsm.stocks.internal.ticketValidityTimeInMinutes={{ stocks_ticket_timeout_minutes }}
