<?xml version="1.0" encoding="UTF-8"?>
<!--
    stocks is client-server program to manage a household's food stock
    Copyright (C) 2019  The stocks developers

    This file is part of the stocks program suite.

    stocks is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    stocks is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
-->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean name="historyCleanupConnectionFactory" class="de.njsm.stocks.server.v2.db.ConnectionFactory">
        <constructor-arg index="0" ref="datasource" />
    </bean>

    <bean name="historyCleanupFoodDbHandler" class="de.njsm.stocks.server.v2.db.FoodHandler">
        <constructor-arg index="0" ref="historyCleanupConnectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="historyCleanupEanNumberDbHandler" class="de.njsm.stocks.server.v2.db.EanNumberHandler">
        <constructor-arg index="0" ref="historyCleanupConnectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="historyCleanupLocationDbHandler" class="de.njsm.stocks.server.v2.db.LocationHandler">
        <constructor-arg index="0" ref="historyCleanupConnectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
        <constructor-arg index="3" ref="historyCleanupFoodItemBackend" />
    </bean>

    <bean name="historyCleanupFoodItemBackend" class="de.njsm.stocks.server.v2.db.FoodItemHandler">
        <constructor-arg index="0" ref="historyCleanupConnectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
        <constructor-arg index="3" ref="historyCleanupDeviceBackend" />
        <constructor-arg index="4" ref="historyCleanupUserBackend" />
    </bean>

    <bean name="historyCleanupDeviceBackend" class="de.njsm.stocks.server.v2.db.UserDeviceHandler">
        <constructor-arg index="0" ref="historyCleanupConnectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="historyCleanupUserBackend" class="de.njsm.stocks.server.v2.db.UserHandler">
        <constructor-arg index="0" ref="historyCleanupConnectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="historyCleanupPrincipalsDbHandler" class="de.njsm.stocks.server.v2.db.PrincipalsHandler">
        <constructor-arg index="0" ref="historyCleanupConnectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean id="historyCleanupJob" class="de.njsm.stocks.server.v2.business.HistoryCleanupJob">
        <constructor-arg index="0" ref="maxHistory"/>
        <constructor-arg index="1" ref="historyCleanupPrincipalsDbHandler" />
        <constructor-arg index="2">
            <list>
                <ref bean="historyCleanupFoodItemBackend"/>
                <ref bean="historyCleanupDeviceBackend"/>
                <ref bean="historyCleanupUserBackend"/>
                <ref bean="historyCleanupLocationDbHandler"/>
                <ref bean="historyCleanupEanNumberDbHandler"/>
                <ref bean="historyCleanupFoodDbHandler"/>
            </list>
        </constructor-arg>
    </bean>
</beans>
