<?xml version="1.0" encoding="UTF-8"?>
<!--
    stocks is client-server program to manage a household's food stock
    Copyright (C) 2019  The stocks developers

    This file is part of the stocks program suite.

    stocks is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    stocks is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
-->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <bean name="driver" class="java.lang.Class" factory-method="forName" lazy-init="false">
        <constructor-arg index="0" value="org.postgresql.Driver"/>
    </bean>

    <bean name="circuitBreakerDatabase" class="java.lang.String">
        <constructor-arg index="0" value="database"/>
    </bean>

    <bean name="circuitBreakerCertificateAuthority" class="java.lang.String">
        <constructor-arg index="0" value="certificateAuthority"/>
    </bean>

    <bean name="propertiesFile" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>file:/etc/stocks-server/stocks.properties</value>
            </list>
        </property>
    </bean>

    <bean name="certificateAuthorityPath" class="java.lang.String">
        <constructor-arg index="0" value="/usr/share/stocks-server/root/CA" type="java.lang.String"/>
    </bean>

    <bean name="nginxReloadCommand" class="java.lang.String">
        <constructor-arg index="0" value="sudo /bin/systemctl reload nginx" type="java.lang.String"/>
    </bean>

    <bean name="config" class="de.njsm.stocks.server.Config">
        <constructor-arg index="0" ref="propertiesFile"/>
    </bean>

    <bean name="authAdmin" class="de.njsm.stocks.server.util.X509AuthAdmin">
        <constructor-arg index="0" ref="certificateAuthorityPath"/>
        <constructor-arg index="1" ref="nginxReloadCommand"/>
        <constructor-arg index="2" ref="circuitBreakerCertificateAuthority"/>
        <constructor-arg index="3" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="dbAddress" factory-bean="config" factory-method="getDbAddress"/>

    <bean name="dbPort" factory-bean="config" factory-method="getDbPort"/>

    <bean name="dbName" factory-bean="config" factory-method="getDbName"/>

    <bean name="circuitBreakerTimeout" factory-bean="config" factory-method="getCircuitBreakerTimeout"/>

    <bean name="dbConfig" factory-bean="config" factory-method="getDbProperties"/>

    <bean name="ticketValidity" factory-bean="config" factory-method="getTicketValidity"/>

    <bean name="maxHistory" factory-bean="config" factory-method="getDbHistoryMaxPeriod"/>

    <bean name="dbUrl" class="java.lang.String" factory-method="format">
        <constructor-arg index="0" value="jdbc:postgresql://%s:%s/%s"/>
        <constructor-arg index="1" type="java.lang.Object[]">
            <util:list>
                <ref bean="dbAddress"/>
                <ref bean="dbPort"/>
                <ref bean="dbName"/>
            </util:list>
        </constructor-arg>
    </bean>

    <bean name="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="acquireIncrement" value="3" />
        <property name="driverClass" value="org.postgresql.Driver" />
        <property name="idleConnectionTestPeriod" value="60" />
        <property name="testConnectionOnCheckin" value="true" />
        <property name="initialPoolSize" value="2" />
        <property name="maxPoolSize" value="16" />
        <property name="minPoolSize" value="2" />
        <property name="maxIdleTimeExcessConnections" value="900" />
        <property name="checkoutTimeout" ref="circuitBreakerTimeout" />
        <property name="jdbcUrl" ref="dbUrl" />
        <property name="properties" ref="dbConfig" />
        <property name="contextClassLoaderSource" value="library" />
        <property name="privilegeSpawnedThreads" value="true" />
        <property name="unreturnedConnectionTimeout" value="60" />
    </bean>

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase" lazy-init="false">
        <property name="dataSource" ref="datasource" />
        <property name="changeLog" value="classpath:migrations/master.xml" />
        <property name="contexts" value="production" />
    </bean>
</beans>
