<?xml version="1.0" encoding="UTF-8"?>
<!--
    stocks is client-server program to manage a household's food stock
    Copyright (C) 2019  The stocks developers

    This file is part of the stocks program suite.

    stocks is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    stocks is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
-->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <bean name="connectionFactory" class="de.njsm.stocks.server.v2.db.ConnectionFactory" scope="request">
        <constructor-arg index="0" ref="datasource" />
    </bean>

    <!-- DB Layer -->
    <bean name="foodDbHandler" class="de.njsm.stocks.server.v2.db.FoodHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="eanNumberDbHandler" class="de.njsm.stocks.server.v2.db.EanNumberHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="locationDbHandler" class="de.njsm.stocks.server.v2.db.LocationHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
        <constructor-arg index="3" ref="foodItemBackend" />
    </bean>

    <bean name="ticketHandler" class="de.njsm.stocks.server.v2.db.TicketHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="updateBackend" class="de.njsm.stocks.server.v2.db.UpdateBackend" scope="request">
        <constructor-arg index="0" ref="connectionFactory"/>
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="foodItemBackend" class="de.njsm.stocks.server.v2.db.FoodItemHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
        <constructor-arg index="3" ref="deviceBackend" />
        <constructor-arg index="4" ref="userBackend" />
    </bean>

    <bean name="deviceBackend" class="de.njsm.stocks.server.v2.db.UserDeviceHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="userBackend" class="de.njsm.stocks.server.v2.db.UserHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="healthBackend" class="de.njsm.stocks.server.v2.db.HealthHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="unitBackend" class="de.njsm.stocks.server.v2.db.UnitHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="scaledUnitBackend" class="de.njsm.stocks.server.v2.db.ScaledUnitHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="recipeBackend" class="de.njsm.stocks.server.v2.db.RecipeHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="recipeIngredientBackend" class="de.njsm.stocks.server.v2.db.RecipeIngredientHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <bean name="recipeProductBackend" class="de.njsm.stocks.server.v2.db.RecipeProductHandler" scope="request">
        <constructor-arg index="0" ref="connectionFactory" />
        <constructor-arg index="1" ref="circuitBreakerDatabase" />
        <constructor-arg index="2" ref="circuitBreakerTimeout"/>
    </bean>

    <!-- Business Layer -->
    <bean name="ticketAuthoriser" class="de.njsm.stocks.server.v2.business.TicketAuthoriser" scope="request">
        <constructor-arg index="0" ref="authAdmin"/>
        <constructor-arg index="1" ref="ticketHandler"/>
        <constructor-arg index="2" ref="ticketValidity"/>
    </bean>

    <bean name="deviceManager" class="de.njsm.stocks.server.v2.business.DeviceManager" scope="request">
        <constructor-arg index="0" ref="deviceBackend" />
        <constructor-arg index="1" ref="foodItemBackend" />
        <constructor-arg index="2" ref="ticketHandler" />
        <constructor-arg index="3" ref="authAdmin" />
    </bean>

    <bean name="userManager" class="de.njsm.stocks.server.v2.business.UserManager" scope="request">
        <constructor-arg index="0" ref="userBackend" />
        <constructor-arg index="1" ref="deviceBackend" />
        <constructor-arg index="2" ref="foodItemBackend" />
    </bean>

    <bean name="locationManager" class="de.njsm.stocks.server.v2.business.LocationManager" scope="request">
        <constructor-arg index="0" ref="locationDbHandler" />
        <constructor-arg index="1" ref="foodDbHandler" />
        <constructor-arg index="2" ref="foodItemBackend" />
    </bean>

    <bean name="updateManager" class="de.njsm.stocks.server.v2.business.UpdateManager" scope="request">
        <constructor-arg index="0" ref="updateBackend"/>
    </bean>

    <bean name="eanNumberManager" class="de.njsm.stocks.server.v2.business.EanNumberManager" scope="request">
        <constructor-arg index="0" ref="eanNumberDbHandler"/>
    </bean>

    <bean name="foodManager" class="de.njsm.stocks.server.v2.business.FoodManager" scope="request">
        <constructor-arg index="0" ref="foodDbHandler"/>
        <constructor-arg index="1" ref="foodItemBackend"/>
        <constructor-arg index="2" ref="eanNumberDbHandler"/>
    </bean>

    <bean name="foodItemManager" class="de.njsm.stocks.server.v2.business.FoodItemManager" scope="request">
        <constructor-arg index="0" ref="foodItemBackend"/>
        <constructor-arg index="1" ref="foodDbHandler"/>
    </bean>

    <bean name="healthManager" class="de.njsm.stocks.server.v2.business.HealthManager" scope="request">
        <constructor-arg index="0" ref="healthBackend" />
        <constructor-arg index="1" ref="authAdmin" />
    </bean>

    <bean name="unitManager" class="de.njsm.stocks.server.v2.business.UnitManager" scope="request">
        <constructor-arg index="0" ref="unitBackend" />
    </bean>

    <bean name="scaledUnitManager" class="de.njsm.stocks.server.v2.business.ScaledUnitManager" scope="request">
        <constructor-arg index="0" ref="scaledUnitBackend" />
    </bean>

    <bean name="recipeManager" class="de.njsm.stocks.server.v2.business.RecipeManager" scope="request">
        <constructor-arg index="0" ref="recipeBackend" />
        <constructor-arg index="1" ref="recipeIngredientBackend" />
        <constructor-arg index="2" ref="recipeProductBackend" />
    </bean>

    <bean name="recipeIngredientManager" class="de.njsm.stocks.server.v2.business.RecipeIngredientManager" scope="request">
        <constructor-arg index="0" ref="recipeIngredientBackend" />
    </bean>

    <bean name="recipeProductManager" class="de.njsm.stocks.server.v2.business.RecipeProductManager" scope="request">
        <constructor-arg index="0" ref="recipeProductBackend" />
    </bean>

    <!-- Web Layer -->
    <bean name="updateEndpoint" class="de.njsm.stocks.server.v2.web.UpdateEndpoint" scope="request">
        <constructor-arg index="0" ref="updateManager" />
    </bean>

    <bean name="foodEndpoint" class="de.njsm.stocks.server.v2.web.FoodEndpoint" scope="request">
        <constructor-arg index="0" ref="foodManager" />
    </bean>

    <bean name="locationEndpoint" class="de.njsm.stocks.server.v2.web.LocationEndpoint" scope="request">
        <constructor-arg index="0" ref="locationManager" />
    </bean>

    <bean name="eanNumberEndpoint" class="de.njsm.stocks.server.v2.web.EanNumberEndpoint" scope="request">
        <constructor-arg index="0" ref="eanNumberManager" />
    </bean>

    <bean name="registrationEndpoint" class="de.njsm.stocks.server.v2.web.RegistrationEndpoint" scope="request">
        <constructor-arg index="0" ref="ticketAuthoriser" />
    </bean>

    <bean name="foodItemEndpoint" class="de.njsm.stocks.server.v2.web.FoodItemEndpoint" scope="request">
        <constructor-arg index="0" ref="foodItemManager" />
    </bean>

    <bean name="deviceEndpoint" class="de.njsm.stocks.server.v2.web.DeviceEndpoint" scope="request">
        <constructor-arg index="0" ref="deviceManager" />
    </bean>

    <bean name="userEndpoint" class="de.njsm.stocks.server.v2.web.UserEndpoint" scope="request">
        <constructor-arg index="0" ref="userManager" />
    </bean>

    <bean name="healthEndpoint" class="de.njsm.stocks.server.v2.web.HealthEndpoint" scope="request">
        <constructor-arg index="0" ref="healthManager" />
    </bean>

    <bean name="unitEndpoint" class="de.njsm.stocks.server.v2.web.UnitEndpoint" scope="request">
        <constructor-arg index="0" ref="unitManager" />
    </bean>

    <bean name="scaledUnitEndpoint" class="de.njsm.stocks.server.v2.web.ScaledUnitEndpoint" scope="request">
        <constructor-arg index="0" ref="scaledUnitManager" />
    </bean>

    <bean name="recipeEndpoint" class="de.njsm.stocks.server.v2.web.RecipeEndpoint" scope="request">
        <constructor-arg index="0" ref="recipeManager" />
    </bean>

    <bean name="recipeIngredientEndpoint" class="de.njsm.stocks.server.v2.web.RecipeIngredientEndpoint" scope="request">
        <constructor-arg index="0" ref="recipeIngredientManager" />
    </bean>

    <bean name="recipeProductEndpoint" class="de.njsm.stocks.server.v2.web.RecipeProductEndpoint" scope="request">
        <constructor-arg index="0" ref="recipeProductManager" />
    </bean>
</beans>
