<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <import resource="spring-job-ca-consistency.xml" />
    <import resource="spring-job-history-cleanup.xml" />

    <bean name="quartzProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:quartz.properties</value>
            </list>
        </property>
    </bean>

    <bean id="job1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="caConsistencyCheckJob"/>
        <property name="targetMethod" value="run"/>
    </bean>

    <bean id="job2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="historyCleanupJob"/>
        <property name="targetMethod" value="run"/>
    </bean>

    <bean id="trigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="job1"/>
        <property name="cronExpression" value="0 0 * * * ? *"/>
    </bean>

    <bean id="trigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="job2"/>
        <property name="cronExpression" value="0 30 * * * ? *"/>
    </bean>

    <bean name="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="quartzProperties" ref="quartzProperties" />
        <property name="jobDetails">
            <list>
                <ref bean="job1"/>
                <ref bean="job2"/>
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="trigger1"/>
                <ref bean="trigger2"/>
            </list>
        </property>
    </bean>
</beans>
