<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <bean name="propertiesFile" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>file:/etc/stocks-server/stocks.properties</value>
            </list>
        </property>
    </bean>

    <bean name="config" class="de.njsm.stocks.server.internal.Config">
        <constructor-arg index="0" ref="propertiesFile"/>
    </bean>

    <bean name="authAdmin" class="de.njsm.stocks.server.internal.auth.X509CertificateAdmin"/>

    <bean name="contextFactory" class="de.njsm.stocks.server.internal.auth.HttpsUserContextFactory"/>

    <bean name="dbAddress" factory-bean="config" factory-method="getDbAddress"/>

    <bean name="dbPort" factory-bean="config" factory-method="getDbPort"/>

    <bean name="dbName" factory-bean="config" factory-method="getDbName"/>

    <bean name="dbUser" factory-bean="config" factory-method="getDbUsername"/>

    <bean name="dbPassword" factory-bean="config" factory-method="getDbPassword"/>

    <bean name="ticketValidity" factory-bean="config" factory-method="getTicketValidity"/>

    <bean name="dbUrl" class="java.lang.String" factory-method="format">
        <constructor-arg index="0" value="jdbc:mariadb://%s:%s/%s?useLegacyDatetimeCode=false&amp;serverTimezone=+00:00"/>
        <constructor-arg index="1" type="java.lang.Object[]">
            <util:list>
                <ref bean="dbAddress"/>
                <ref bean="dbPort"/>
                <ref bean="dbName"/>
            </util:list>
        </constructor-arg>
    </bean>

    <bean name="dbHandler" class="de.njsm.stocks.server.internal.db.SqlDatabaseHandler">
        <constructor-arg index="0" ref="dbUrl"/>
        <constructor-arg index="1" ref="dbUser"/>
        <constructor-arg index="2" ref="dbPassword"/>
        <constructor-arg index="3" ref="authAdmin"/>
    </bean>

    <bean name="ticketAuthoriser" class="de.njsm.stocks.server.internal.business.TicketAuthoriser" >
        <constructor-arg index="0" ref="authAdmin"/>
        <constructor-arg index="1" ref="dbHandler"/>
        <constructor-arg index="2" ref="ticketValidity"/>
    </bean>

    <bean name="deviceEndPoint" class="de.njsm.stocks.server.endpoints.DeviceEndpoint">
        <constructor-arg index="0" ref="dbHandler"/>
        <constructor-arg index="1" ref="contextFactory"/>
    </bean>

    <bean name="eanEndPoint" class="de.njsm.stocks.server.endpoints.EanEndpoint">
        <constructor-arg index="0" ref="dbHandler"/>
        <constructor-arg index="1" ref="contextFactory"/>
    </bean>

    <bean name="foodEndPoint" class="de.njsm.stocks.server.endpoints.FoodEndpoint">
        <constructor-arg index="0" ref="dbHandler"/>
        <constructor-arg index="1" ref="contextFactory"/>
    </bean>

    <bean name="locationEndPoint" class="de.njsm.stocks.server.endpoints.LocationEndpoint">
        <constructor-arg index="0" ref="dbHandler"/>
        <constructor-arg index="1" ref="contextFactory"/>
    </bean>

    <bean name="updateEndPoint" class="de.njsm.stocks.server.endpoints.UpdateEndpoint">
        <constructor-arg index="0" ref="dbHandler"/>
        <constructor-arg index="1" ref="contextFactory"/>
    </bean>

    <bean name="userEndPoint" class="de.njsm.stocks.server.endpoints.UserEndpoint">
        <constructor-arg index="0" ref="dbHandler"/>
        <constructor-arg index="1" ref="contextFactory"/>
    </bean>

    <bean name="userGeneratorEndPoint" class="de.njsm.stocks.server.endpoints.RegistrationEndpoint">
        <constructor-arg index="0" ref="dbHandler"/>
        <constructor-arg index="1" ref="contextFactory"/>
        <constructor-arg index="2" ref="ticketAuthoriser"/>
    </bean>


</beans>