<?xml version="1.0" encoding="UTF-8"?>
<!--
    stocks is client-server program to manage a household's food stock
    Copyright (C) 2019  The stocks developers

    This file is part of the stocks program suite.

    stocks is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    stocks is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
-->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean name="caConsistencyCheckConnectionFactory" class="de.njsm.stocks.server.v2.db.ConnectionFactory">
        <constructor-arg index="0" ref="datasource" />
    </bean>

    <bean name="caConsistencyCheckDeviceBackend" class="de.njsm.stocks.server.v2.db.UserDeviceHandler">
        <constructor-arg index="0" ref="caConsistencyCheckConnectionFactory"/>
    </bean>

    <bean name="caConsistencyCheckUserBackend" class="de.njsm.stocks.server.v2.db.UserHandler">
        <constructor-arg index="0" ref="caConsistencyCheckConnectionFactory"/>
    </bean>

    <bean name="caConsistencyCheckFoodItemBackend" class="de.njsm.stocks.server.v2.db.FoodItemHandler">
        <constructor-arg index="0" ref="caConsistencyCheckConnectionFactory"/>
        <constructor-arg index="1" ref="caConsistencyCheckDeviceBackend" />
        <constructor-arg index="2" ref="caConsistencyCheckUserBackend" />
    </bean>

    <bean name="caConsistencyCheckPrincipalsDbHandler" class="de.njsm.stocks.server.v2.db.PrincipalsHandler">
        <constructor-arg index="0" ref="caConsistencyCheckConnectionFactory"/>
    </bean>

    <bean id="caConsistencyCheckJob" class="de.njsm.stocks.server.v2.business.CaConsistencyCheckJob">
        <constructor-arg index="0" ref="authAdmin" />
        <constructor-arg index="1" ref="caConsistencyCheckPrincipalsDbHandler" />
        <constructor-arg index="2" ref="caConsistencyCheckDeviceBackend" />
        <constructor-arg index="3" ref="caConsistencyCheckFoodItemBackend" />
    </bean>
</beans>
