[Unit]
Description=stocks OCSP
After=network.target

[Service]
Type=forking
PrivateDevices=yes
SyslogLevel=err

User=stocks
Group=users

WorkingDirectory=/srv/stocks/root/CA/intermediate
ExecStart=openssl ocsp -port 127.0.0.1:10920 -text -sha256 -index index.txt -CA certs/ca-chain.cert.pem \
      -rkey private/ocsp.key.pem -rsigner certs/ocsp.cert.pem 
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
