[Unit]
Description=stocks jetty 
After=network.target

[Service]
Type=simple

User=stocks
Group=users

WorkingDirectory=/usr/share/stocks/root/jetty-base
ExecStart=/usr/lib/stocks/server

KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
