<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.njsm.stocks">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".android.Application"
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/StocksTheme"
        >

        <activity android:name=".android.frontend.startup.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".android.frontend.user.UserActivity" />
        <activity android:name=".android.frontend.setup.SetupActivity" />
        <service android:name=".android.service.SetupService" />
    </application>

</manifest>