<?xml version="1.0" encoding="UTF-8" ?>
<configuration monitorInterval="60" >
    
    <appenders>
    
        <appender name="console" class="org.apache.log4j.ConsoleAppender">
            <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %C:%L %m%n" />
            </layout>
        </appender>
        
    </appenders>

    <loggers>
        
        <root>
            <level value="INFO" />
            <appender-ref ref="console" />
        </root>
        
    </loggers>
    
</configuration>
