<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="60" >
    
    <Appenders>
    
        <Appender name="console" class="org.apache.log4j.ConsoleAppender">
            <Layout class="org.apache.log4j.PatternLayout">
                <Param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %C:%L %m%n" />
            </Layout>
        </Appender>
        
    </Appenders>

    <Loggers>
        
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        
    </Loggers>
    
</Configuration>
