# stocks is client-server program to manage a household's food stock
# Copyright (C) 2019  The stocks developers
#
# This file is part of the stocks program suite.
#
# stocks is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# stocks is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
---
spring:
  main:
    banner-mode: off
  mvc:
    servlet:
      path: /
  liquibase:
    change-log: classpath:migrations/master.xml
    contexts: production
  graphql:
    rsocket:
      preferred-json-mapper: jackson2
  http:
    codecs:
      preferred-json-mapper: jackson2
    converters:
      preferred-json-mapper: jackson2
  rsocket:
    preferred-mapper: jackson2
  websocket:
    messaging:
      preferred-json-mapper: jackson2

server:
  address: localhost
  port: 8080

logging:
  config: ../deploy-server/config/log4j2-spring.xml

de:
  njsm:
    stocks:
      server:
        auth:
          reload-command: echo sudo /bin/systemctl reload nginx
          ca-root: ''
          # How much time does a new user's device have to register before its ticket
          # expires
          ticket-validity-in-minutes: 10
        db:
          url: jdbc:postgresql://localhost:5432/stocks
          user: stocks
          password: linux
        hikari:
          maximum-pool-size: 16
          minimum-idle: 2
          idle-timeout: 300000 # ms
          keepalive-time: 60000 # ms
          max-lifetime: 900000 # ms
          connection-timeout: 5000 # ms
        # How long back in time old records should be preserved. This value is an
        # ISO-8601 duration, see https://en.wikipedia.org/wiki/ISO_8601#Durations
        # Allowed units are "Y", "M", "W" and "D"
        history-max-period: P100Y
