<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="30" >

    <Appenders>

        <Console
                name="console"
                target="SYSTEM_OUT">
            <PatternLayout pattern="%p %C:%L %m%n" />
        </Console>

    </Appenders>

    <Loggers>

        <Logger name="de.njsm.stocks" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>

    </Loggers>

</Configuration>
